<div 
  class="tagline d-flex justify-content-center align-items-center flex-column text-center"
  style="
    background-image: url('https://imgs.search.brave.com/SacWsWJy2HCnlAFgrjv4_lm1bwm6a6A1OHiuKFi1n2Y/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTM2/ODYyOTczNy9lcy9m/b3RvL2FlcmlhbC12/aWV3LW9mLW5ldy15/b3JrLWNpdHktc2t5/bGluZS1hdC1uaWdo/dC5qcGc_cz02MTJ4/NjEyJnc9MCZrPTIw/JmM9aEczY0Vac1NS/Z0RTZ0hVZWtWbmNY/VVBkU0FjTFRmZUE0/RGtJb1psNGFzaz0'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 400px; 
    width: 100%;
  "
>
  <h1 class="container-fluid bg-white">One Page Wonder</h1>
  <h3 class="container-fluid bg-white">Will Knock Your Socks Off</h3>
</div>
